# Servidor 

    PORT=3000
    NODE_ENV=development

# Base de datos 

    DB_HOST=localhost
    DB_PORT=3306
    DB_USER=root
    DB_PASSWORD=contraseña
    DB_NAME=moneduK

# JWT 

    JWT_SECRET=SsKk77SsKk7710740206SsKk77SsKk77
    JWT_EXPIRES_IN=7d

# Seguridad

    BCRYPT_ROUNDS=10
